/cbasic/dc/dc.app/bin
/cbasic/dc/dc.app/obj/Debug/
/cbasic/dc/dc.core/bin
/cbasic/dc/dc.core/obj/Debug/
/cbasic/lessons/04_Methods/task03_Overloading/bin
/cbasic/lessons/04_Methods/task03_Overloading/obj/Debug
/cbasic/lessons/04_Methods/task06_Extension/bin
/cbasic/lessons/04_Methods/task06_Extension/obj/Debug
